.add-content-people-container{
    display: flex;
}
.add-content-people-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.added-member-card{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.3rem;
}
.added-member-card-name{
    margin-right: 0.5rem;
}
.added-member-card-cross{
    cursor: pointer;
    color: red;
}
.added-member-card-cross:hover{
    transform: scale(1.5);
}